<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<style>
    table, th, td {
        border:1px solid black;
    }

</style>
<body>
<h1>Tabela</h1>

{% for videogame in videogames %}

    <table>
        <thead>
        {{ videogame.name }}
        </thead>
        <tbody>
        <th>Nome</th>

        {% for jogo in videogame.jogos %}
            <tr>
                <td>{{ jogo.nome }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endfor %}

</body>
</html>